<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-6 col-6">
                <h3>Empleados</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-6">
                <button class="btn btn-sm btn-primary col-10" style="font-size: larger;" [routerLink]="['add']"><i class="bi bi-plus" style="font-size:1.3rem;"></i>Nuevo</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Num. Empleado</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>Tipo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{item.id}}</td>
                                <td>{{item.name}} {{item.lastName}}</td>
                                <td>{{item?.role?.name}}</td>
                                <td>{{item?.typeEmployer?.name}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary m-1" title="Editar registro"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger" title="Borrar registro"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td [attr.colspan]="'4'" class="font-family-Poppins-Light">
                                    <ngb-pagination [collectionSize]="totalRows" [(page)]="filters.currentPage" [pageSize]="filters.limit" (pageChange)="getData()" [maxSize]="5"></ngb-pagination>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm font-family-Poppins-Light" [(ngModel)]="filters.limit" (change)="getData()" style="    max-width: 100px;">
                                        <option *ngFor="let option of dataForPage" [value]="option">{{option}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
