<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-6 col-6">
                <h3>Empleados</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-6">
                <button class="btn btn-sm btn-primary col-10" style="font-size: larger;" [routerLink]="['add']"><i class="bi bi-plus" style="font-size:1.3rem;"></i>Nuevo</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm table-stripped">
                        <thead>
                            <tr>
                                <th>Num. Empleado</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>Tipo</th>
                                <th>Estatus</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody class="font-light">
                            <tr *ngFor="let item of data">
                                <td>{{item.id}}</td>
                                <td>{{item.name}} {{item.lastName}}</td>
                                <td>{{item?.role?.name}}</td>
                                <td>{{item?.typeEmployer?.name}}</td>
                                <td><span class="badge" [ngClass]="{'text-bg-success': item.status == '1', 'text-bg-danger': item.status == '0'}">{{item.status == '1' ? 'ACTIVO' : 'INACTIVO'}}</span></td>
                                <td>
                                    <a class="btn btn-sm btn-primary m-1" title="Editar registro" [routerLink]="[item.id]"><i class="bi bi-pencil"></i></a>
                                    <button class="btn btn-sm btn-danger" title="Inactivar registro" (click)="openModalDelete(item.id)"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="font-light">
                            <tr>
                                <td [attr.colspan]="'5'" class="font-family-Poppins-Light">
                                    <ngb-pagination [collectionSize]="totalRows" [(page)]="filters.currentPage" [pageSize]="filters.limit" (pageChange)="getData()" [maxSize]="5"></ngb-pagination>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm font-family-Poppins-Light" [(ngModel)]="filters.limit" (change)="getData()" style="    max-width: 100px;">
                                        <option *ngFor="let option of dataForPage" [value]="option">{{option}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
