<div class="row">
    <div class="col-12">
        <a class="btn btn-ligth text-black font-medium" [routerLink]="['/movements']"><i class="bi bi-arrow-left-circle"></i> Regresar</a>
        <h3>{{title}}</h3>
    </div>
    <br>
    <div class="col-12">
        <form [formGroup]="frmMovement" autocomplete="off">
            <div class="row mt-4">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="col-6" *ngIf="id == 0">
                        <label for="id" class="form-label font-medium">Busqueda de Empleado:</label>
                        <input type="text" class="form-control font-light" id="id" placeholder="Busqueda" [ngbTypeahead]="search"  [inputFormatter]="formatter"  [resultFormatter]="formatter" [(ngModel)]="filterEmployer" [ngModelOptions]="{standalone: true}" (selectItem)="selectEmployer($event)">
                    </div>
                    <div class="mt-4" *ngIf="isEmptySelectedEmployer">
                        <div class="row">
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Num. Empleado:</label>
                                <label for="roleId" class="form-label font-light pl-5 font-size-larger">{{seletedEmployer?.id}}</label>
                            </div>
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Nombre:</label>
                                <label for="roleId" class="form-label font-light pl-5 font-size-larger">{{seletedEmployer?.name}} {{seletedEmployer?.lastName}}</label>
                            </div>
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Rol:</label>
                                <label for="roleId" class="form-label font-light pl-5 font-size-larger">{{seletedEmployer?.role?.name}}</label>
                            </div>
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Tipo:</label>
                                <label for="roleId" class="form-label font-light pl-5 font-size-larger">{{seletedEmployer?.typeEmployer?.name}}</label>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <label for="dateMovement" class="form-label font-medium">Fecha:</label>
                            <input type="month" class="form-control font-medium" id="dateMovement" formControlName="dateMovement" [ngClass]="inputValidation(frmMovement,'dateMovement')">
                        </div>
                        <div class="col-6">
                            <label for="quantityDeliveries" class="form-label font-medium">Cantidad de Entrega:</label>
                            <input type="text" class="form-control font-medium" id="quantityDeliveries" formControlName="quantityDeliveries" [ngClass]="inputValidation(frmMovement,'quantityDeliveries')">
                        </div>
                    </div>
                    <div class="row" *ngIf="isAuxiliar">
                        <div class="col-6">
                            <div class="form-check mt-4">
                                <label class="form-check-label font-medium" for="coverShifts">
                                 ¿Cubrió turno?
                                </label>
                                <input class="form-check-input" type="checkbox" value="" id="coverShifts" style="font-size: larger;" formControlName="coverShifts" (change)="setValidatorRoleCoveredId($event)">
                              </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="showRoleCoveredId">
                        <div class="col-6 mt-2" >
                            <label for="daysCovered" class="form-label font-medium">¿Cuantos días cubrió?</label>
                            <input type="text" class="form-control font-light" id="daysCovered" formControlName="daysCovered" [ngClass]="inputValidation(frmMovement,'daysCovered')">
                        </div>
                        <div class="col-6 mt-2">
                            <label for="roleCoveredId" class="form-label font-medium">¿Que rol cubrió?</label>
                            <select type="text" class="form-control font-light" id="roleCoveredId" formControlName="roleCoveredId" [ngClass]="inputValidation(frmMovement,'roleCoveredId')">
                                <option *ngFor="let item of listRoles" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-5  justify-content-end">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <button class="btn btn-danger font-light" [routerLink]="['/movements']"><i class="bi bi-x-circle"></i> Cancelar</button>
            <button class="btn btn-success m-2 font-light" (click)="save()"><i class="bi bi-save"></i> Guardar</button>
        </div>
    </div>
</div>