<div class="row">
    <div class="col-12">
        <a class="btn btn-ligth text-black font-medium" [routerLink]="['/movements']"><i class="bi bi-arrow-left-circle"></i> Regresar</a>
        <h3>{{title}}</h3>
    </div>
    <br>
    <div class="col-12">
        <form autocomplete="off">
            <div class="row mt-4">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="col-6">
                        <label for="id" class="form-label font-medium">Busqueda de Empleado:</label>
                        <input type="text" class="form-control font-light" id="id" placeholder="Busqueda">
                    </div>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Num. Empleado:</label>
                                <label for="roleId" class="form-label font-light pl-5">1</label>
                            </div>
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Nombre:</label>
                                <label for="roleId" class="form-label font-light pl-5">Joseph</label>
                            </div>
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Rol:</label>
                                <label for="roleId" class="form-label font-light pl-5">Chofer</label>
                            </div>
                            <div class="col-12 emp-item">
                                <label for="roleId" class="form-label font-medium col-4">Tipo:</label>
                                <label for="roleId" class="form-label font-light pl-5">Interno</label>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <label for="dateMonth" class="form-label font-medium">Fecha:</label>
                            <input type="month" class="form-control font-medium" id="dateMonth">
                        </div>
                        <div class="col-6">
                            <label for="countDay" class="form-label font-medium">Cantidad de Entrega:</label>
                            <input type="text" class="form-control font-medium" id="countDay">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check mt-4">
                                <label class="form-check-label font-medium" for="flexCheckChecked">
                                 ¿Cubrió turno?
                                </label>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" style="font-size: larger;">
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-5  justify-content-end">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <button class="btn btn-danger font-light" [routerLink]="['/movements']"><i class="bi bi-x-circle"></i> Cancelar</button>
            <button class="btn btn-success m-2 font-light"><i class="bi bi-save"></i> Guardar</button>
        </div>
    </div>
</div>