/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import '~bootstrap-icons/font/bootstrap-icons';

@font-face {
    font-family: 'Poppins-Regular';
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf) format("opentype");
}


@font-face {
    font-family: 'Poppins-Medium';
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf) format("opentype");
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(assets/fonts/Poppins/Poppins-Light.ttf) format("opentype");
}


body{
    font-family: 'Poppins-Regular';
}

.font-medium{
    font-family: 'Poppins-Medium';
}

.font-light{
    font-family: 'Poppins-Light';
}

input{
    font-family: 'Poppins-Light' !important;
}

.font-size-larger{
    font-size: larger;
}